/*
 * This is temporary styling and can be completed removed or replaced.
 */

.my-extension-img {
    height: auto;
    max-width: 100%;
}

.my-extension body {
    margin: 0;
}

body .air-extension .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    margin: auto;

    border: 2px solid gray;
    background: white;
    border-radius: 20px;
    width: 500px;
    height: unset;
    position: fixed;
    margin: 0;
    top: 200px;
    right: 20px;

    padding: 40px;
    display: flex;
}

body .air-extension .container p {

    margin-top: 10px;
    margin-bottom: 10px;
}

.turtle-button {
    padding: 1em;
    margin: 10px;
    border-radius: 50px;

    color: white;
    font-size: 20px;
    font-weight: bold;
    background: #6e823a;
    box-shadow: none;
    border: 2px solid #484e23;
}

.turtle-button:hover {
    background: #484e23;
}